{% extends 'base.html.twig' %}

{% block body %}
    <div class='container-fluid'>
        <h2>WDB cache info dumps</h2>
        <p>
            <a href='/db/creatures'>View creatures</a> - <a href='/db/quests'>View quests</a>
        </p>
    </div>
{% endblock %}