{% extends 'base.html.twig' %}

{% block extra_includes %}
    <link href="{{ '/css/db/style.css'|filemtime }}" rel="stylesheet">
    <script src="{{ '/js/db/quests.js'|filemtime }}"></script>
{% endblock %}

{% block body %}
    <div class='container-fluid'>
        <h3>Quests</h3>
        <table class='table table-striped' id='quests'>
            <thead><tr><th style='width: 100px'>ID</th><th>Name</th><th style='width: 120px'>First seen build</th><th style='width: 120px'>Last update build</th></tr>
        </table>
        <div id="quests_preview" style="display: block;"></div>
    </div>
{% endblock %}