{% extends 'base.html.twig' %}

{% block body %}
    <div class='container-fluid'>
        <h3>404 page not found</h3>
        <p>
            Sorry, nothing here!
        </p>
    </div>
{% endblock %}